################################################################################
# Custom .gitignore (project specific .gitignores are under project itself)
################################################################################

*.realm
*.realm.lock
*.realm.note
*.realm.management
