################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Leuze_AGV_Robot_API/Documents/default.realm
/Leuze_AGV_Robot_API/Documents/default.realm.lock
/Leuze_AGV_Robot_API/Documents/default.realm.note
/Leuze_AGV_Robot_API/Documents/robotDB.realm
/Leuze_AGV_Robot_API/Documents/robotDB.realm.lock
/Leuze_AGV_Robot_API/Documents/robotDB.realm.note
